<%= form_for(@character) do |f| %>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name%>
    </div>
  </div>

  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :race %><br>
      <%= f.select :race, ['Human', 'Elf', 'Dwarf', 'Orc', 'Dragonborn'], :prompt => 'Select One' %>
    </div>
  </div>
  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :gender %><br>
      <%= f.select :gender, ['Male', 'Female'], :prompt => "Select One" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :eye_color %><br>
      <%= f.select :eye_color, ['Blue', 'Red', 'Green', 'Brown', 'Black', 'Yellow', 'Purple'], :prompt => 'Select One' %>
    </div>
  </div>
  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :hair_color %><br>
      <%= f.select :hair_color, ['Red', 'Blonde', 'Brown', 'Blue', 'Black', 'Purple'], :prompt => "Select One" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :age %><br>
      <%= f.number_field :age, min: 16, max: 50, step: 1%>
    </div>
  </div>

  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :size %><br>
      <%= f.select :size, ['Small', 'Medium', 'Large'], :prompt => "Select One" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :job %><br>
      <%= f.select :job, ['Archer', 'Thief', 'Mage', 'Necromancer', 'Knight', 'Ninja'] , :prompt => "Select One"%>
    </div>
  </div>
</div>

<p>These are just base numbers. These will be updated based on your other stats.</p>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :health %><br>
      <%= f.text_field :health, readonly: true, value: @healthrand%>
    </div>
  </div>

  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :strength %><br>
      <%= f.text_field :strength, readonly: true, value: @strengthrand%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :dexterity %><br>
      <%= f.text_field :dexterity, readonly: true, value: @dexterityrand%>
    </div>
  </div>

  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :magic %><br>
      <%= f.text_field :magic, readonly: true, value: @magicrand%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :charisma %><br>
      <%= f.text_field :charisma, readonly: true, value: @charismarand%>
    </div>
  </div>

  <div class="col sm-8">
    <div class="form-group">
      <%= f.label :intelligence %><br>
      <%= f.text_field :intelligence, readonly: true, value: @intelligencerand%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col sm-4">
    <div class="form-group">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
    </div>
  </div>
</div>

<div class="col sm-8">
  <div class="form-group">
    <%= f.submit %><br>
  </div>
</div>


<% end %>
